vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|nl
vti_structfrom_localhost\\c\:\\mijn documenten\\my webs\\myweb101/c\:/mijn documenten/my webs/myweb101:TR|11 Jan 2004 15:09:27 -0000
vti_usagebymonth:UX|268 675 907 700 834 1010 1386 1404 982 1200 1235 1127 1045
vti_usagevisitsbyweek:UX|28 80 74 75 52
vti_usagelastformat:SX|1 2 2 L 
vti_usagelastupdated:TX|12 Dec 2006 03:02:36 -0000
vti_textindexood:IR|0
vti_usagebyday:UX|0 0 55 0 0 55 0 81
vti_usagehitsbyweek:UX|1072 5005 3257 3338 3919
vti_structto_www.sportcartoons.nl\:80:TR|05 May 2013 20:02:53 -0000
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
GeneratedBy:SW|FrontPage Corporate Presence Web Wizard
CompanyAddress:SW|Nassaustraat 9
CompanyEmail:SW|someone@microsoft.com
vti_missingoverlaylabels:VX|
vti_copytimestamp_http\://www.sportcartoons.nl:TR|09 Aug 2013 17:53:58 -0000
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
CompanyShortName:SW|Sportcartoons
vti_navbuttonuplabel:SR|Up
vti_copytimestamp_file\:///C\:/Documents and Settings/michael/Mijn documenten/My Webs/sportcartoons.nl:TR|10 Apr 2004 12:17:55 -0000
vti_disableautoimgsizeexts:SX|.asp
vti_createpostinfo:BX|false
vti_extenderversion:SR|5.0.2.6790
CompanyFAX:SW|NO FAX
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_usageserverlastupdated:TX|12 Dec 2006 03:02:36 -0000
vti_usagedownload:UX|53288 123883 184327 122393 157919 117520 156389 163058 128399 140374 172347 171582 159620
vti_structto_localhost\\c\:\\documents and settings\\michael\\mijn documenten\\my webs\\sportcartoons.nl/c\:/documents and settings/michael/mijn documenten/my webs/sportcartoons.nl:TR|11 Jan 2004 15:09:27 -0000
vti_dependenciesood:IR|1
vti_navbuttonhomelabel:SR|Home
CompanyLongName:SW|Sportcartoons International
vti_usagehitsbymonth:UX|6077 12755 20979 14728 18264 13919 19767 22140 18952 15689 20746 22257 21709
vti_usagefirstdata:TX|30 Nov 2005 23:00:00 -0000
vti_usernames:VR|maryan\\ kas
vti_missingoverlays:VX|
vti_oldestcompatibleversion:SR|2.0.0.0
CompanyPhone:SW|0184 - 60 18 31
vti_usagevisitsbymonth:UX|108 250 325 270 279 247 327 401 304 346 386 446 392
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_navbuttonnextlabel:SR|Next
CompanyWebmaster:SW|info@sportcartoons.nl
vti_usagevisitsbyday:UX|0 0 28 0 0 22 0 27
vti_structfrom_localhost\\c\:\\documents and settings\\kas\\mijn documenten\\my webs\\myweb101/c\:/documents and settings/kas/mijn documenten/my webs/myweb101:TR|03 Nov 2007 15:52:28 -0000
vti_approvallevels:VR|Approved Denied Pending\\ Review Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_hassearchbot:BR|false
vti_themedefault:SR|indust 010
vti_borderdefault:SR|tlb
vti_usagebyweek:UX|55 213 196 173 168
vti_usagehitsbyday:UX|0 0 1072 0 0 1480 0 1446
