vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Jan 2015 14:20:52 -0000
vti_author:SR|sportcartoons
vti_modifiedby:SR|Kas-QmPC\\Kas
vti_nexttolasttimemodified:TR|03 Jan 2015 14:18:33 -0000
vti_timecreated:TR|14 Jan 2004 12:14:12 -0000
vti_extenderversion:SR|5.0.2.6790
vti_syncwith_localhost\\c\:\\mijn documenten\\my webs\\myweb101/c\:/mijn documenten/my webs/myweb101:TR|29 Jan 2002 16:26:00 -0000
vti_backlinkinfo:VX|
vti_syncwith_localhost\\c\:\\documents and settings\\kas\\mijn documenten\\my webs\\myweb101/c\:/documents and settings/kas/mijn documenten/my webs/myweb101:TR|09 May 2005 17:36:25 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\michael\\mijn documenten\\my webs\\sportcartoons.nl/c\:/documents and settings/michael/mijn documenten/my webs/sportcartoons.nl:TR|29 Jan 2002 16:26:00 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\kas\\mijn documenten\\myweb101/c\:/documents and settings/kas/mijn documenten/myweb101:TR|29 Jan 2002 16:26:00 -0000
vti_lineageid:SR|{4682FE33-97BE-42A8-9A1E-E655D2E26FD1}
vti_syncwith_www.sportcartoons.nl\:80:TR|24 Jan 2008 21:05:00 -0000
vti_cacheddtm:TX|24 Jan 2008 21:05:00 -0000
vti_filesize:IR|5003
vti_cachedlinkinfo:VX|S|indbannd.gif S|indhbudd.gif S|indhbusd.gif S|indhombd.gif S|indnexbd.gif S|indprebd.gif S|indupbd.gif S|indglob.gif S|indvbudd.gif S|indvbusd.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/indust/indbannd.gif FSUS|_themes/indust/indhbudd.gif FSUS|_themes/indust/indhbusd.gif FSUS|_themes/indust/indhombd.gif FSUS|_themes/indust/indnexbd.gif FSUS|_themes/indust/indprebd.gif FSUS|_themes/indust/indupbd.gif FSUS|_themes/indust/indglob.gif FSUS|_themes/indust/indvbudd.gif FSUS|_themes/indust/indvbusd.gif
