vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Jan 2015 14:20:52 -0000
vti_author:SR|sportcartoons
vti_modifiedby:SR|Kas-QmPC\\Kas
vti_nexttolasttimemodified:TR|03 Jan 2015 14:18:33 -0000
vti_timecreated:TR|14 Jan 2004 12:14:28 -0000
vti_extenderversion:SR|5.0.2.6790
vti_syncwith_localhost\\c\:\\mijn documenten\\my webs\\myweb101/c\:/mijn documenten/my webs/myweb101:TR|29 Jan 2002 16:26:00 -0000
vti_backlinkinfo:VX|
vti_syncwith_localhost\\c\:\\documents and settings\\kas\\mijn documenten\\my webs\\myweb101/c\:/documents and settings/kas/mijn documenten/my webs/myweb101:TR|09 May 2005 17:36:25 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\michael\\mijn documenten\\my webs\\sportcartoons.nl/c\:/documents and settings/michael/mijn documenten/my webs/sportcartoons.nl:TR|29 Jan 2002 16:26:00 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\kas\\mijn documenten\\myweb101/c\:/documents and settings/kas/mijn documenten/myweb101:TR|29 Jan 2002 16:26:00 -0000
vti_lineageid:SR|{CE698D4D-B182-4B3D-85C2-9DB20999A2C6}
vti_syncwith_www.sportcartoons.nl\:80:TR|05 Oct 2007 22:00:00 -0000
vti_cacheddtm:TX|05 Oct 2007 22:00:00 -0000
vti_filesize:IR|10865
vti_cachedlinkinfo:VX|S|indglob.gif S|indtextb.jpg S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/indust/indglob.gif FSUS|_themes/indust/indtextb.jpg FSUS|_themes/indust/blank.gif
